{% extends 'base.html' %}

{% block title %} | Account Login {% endblock %}

{% block content %}

  <!-- inner banner -->
  <div class="inner-banner-w3ls py-5" id="home">
      <div class="container py-xl-5 py-lg-3">
          <!-- login  -->
          <div class="modal-body my-5 pt-4">
              <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold">Login Now</h3>
              <!-- Alerts -->
              {% include 'partials/_alerts.html' %}
                <form action="{% url 'login' %}" method="POST">
                  {% csrf_token %}
                <div class="form-group">
                  <label for="username" class="col-form-label">Username</label>
                  <input type="text" name="username" class="form-control" required>
                </div>

                <div class="form-group">
                  <label for="password2" class="col-form-label">Password</label>
                  <input type="password" name="password" class="form-control" required>
                </div>

                <input type="submit" value="Login" class="btn btn-secondary btn-block">
              </form>
          </div>
          <!-- //login -->
      </div>
  </div>
  <!-- //inner banner -->
  {% endblock %}
